
body {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
   background-color: #f2f5f9; 
   color: #22304a; 
   max-width: 550px; 
   margin: 0 auto; 
   padding: 24px; 
}

.caixa-total {
    background-color: #274845;  
    color: #ffffff; 
    padding: 24px; 
    text-align: center; 
    border-radius: 18px; 
}


h1 {
    text-align: center;
    font-size: 2.5em;
}

.topo {
    color: #6b7a94;
    text-align: center; 
    margin: 16px;  
}

.resumo {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;

    display: flex;
    gap: 15px;
}

.caixa-total {
    flex: 1;
    font-size: 0.8em;
    background: white;
    padding: 20px;
    color: black;

    border-radius: 15px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.20);
}

.caixa-total p {
    margin: 0 0 10px;
    color: #666;
}

.caixa-total h2 {
    margin: 0;
}
.total-gasto {
    font-size: 2.1em;
    font-weight: bold; 
    margin: 12px; 
}

.lista-de-comprovantes {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}
.comprovante {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 550px;

    border-radius: 15px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.10);
}

.cabecalho-comprovante {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}


.nome-estabelecimento {
    font-size: 18px;
    font-weight: bold;
}

.informacoes-comprovante {
    margin-top: 15px;
}

.forma-pagamento,
.parcelas,
.data-horario {
    margin: 10px 0;
    color: #555;
}

.total-nota {
    margin-top: 15px;
    padding-top: 15px;

    border-top: 1px solid #eee;

    font-size: 18px;
}

.botao-excluir {
    width: 100%;
    margin-top: 15px;
    padding: 10px;

    border: none;
    border-radius: 8px;

    background: #e74c3c;
    color: white;

    cursor: pointer;
    font-weight: bold;
}

label {
    background-color: #ffffff; 
    border-radius: 16px; 
    padding: 28px;  
    text-align: center;  
    font-weight: bold;  
    border: 4px dashed #757d89;
    display: block; 
    margin: 16px;  
    cursor: pointer;  
}

input {
    display: none;  
}