
body {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
   background-color: #f2f5f9; 
   color: #22304a; 
   max-width: 550px; 
   margin: 0 auto; 
   padding: 24px; 
}

.caixa-total {
    background-color: #274845;  
    color: #ffffff; 
    padding: 24px; 
    text-align: center; 
    border-radius: 18px; 
}


h1 {
    text-align: center;
    font-size: 2.5em;
}

.topo {
    color: #6b7a94;
    text-align: center; 
    margin: 16px;  
}
.total-gasto {
    font-size: 2.2em;
    font-weight: bold; 
    margin: 12px; 
}

.comprovante {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;

    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

    box-sizing: border-box;
}

.itens {
    width: 100%;
    padding: 20px 10px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 8px;

    box-sizing: border-box;
}

.total-nota {
    width: 100%;
    margin-top: 15px;
    padding: 15px 5px;
    background-color: #38765949;
    border-top: 2px solid #121816;
    border: none;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #161313;

    box-sizing: border-box;
}



label {
    background-color: #ffffff; 
    border-radius: 16px; 
    padding: 28px;  
    text-align: center;  
    font-weight: bold;  
    border: 4px dashed #757d89;
    display: block; 
    margin: 16px;  
    cursor: pointer;  
}

input {
    display: none;  
}